<div class='row'>
  <div class='col-lg-4'>
    <div class='well sidebar-nav'>
      <h3>検索条件を入力してください</h3>
      <%= form_for @search_form, {:url => payments_path, :method => :get, :remote => true, :html => {:onClick => 'return false;'}} do |f| %>
        <div class='form-group'>
          <%= f.label :date_after, t('views.payment.date').html_safe %><br>
          <%= f.text_field :date_after, {:class => 'form-control date-form', :name => 'date_after'} %>
          <%= t('views.search.form.between') %>
          <%= f.text_field :date_before, {:class => 'form-control date-form', :name => 'date_before'} %>
        </div>

        <div class='form-group'>
          <%= label_tag :content, t('views.payment.content').html_safe %>
          <%= text_field_tag :content, '', :class => 'form-control', :value => @search_form.content_include || @search_form.content_equal %>
          <% options = {t('views.search.form.include') => 'include', t('views.search.form.equal') => 'equal'} %>
          <% selected_value = @search_form.content_equal ? 'equal' : 'include' %>
          <%= select_tag :content_type, options_for_select(options, selected_value), :class => 'form-control', :id => 'content-type' %>
        </div>

        <div class='form-group'>
          <%= f.label :category, t('views.payment.categories').html_safe %><br>
          <%= f.text_field :category, {:id => 'category-form', :class => 'form-control category-form', :name => 'category'} %>
          <span class='category-list' data-names='<%= Payment.joins(:categories).group('categories.name').order('count_all desc').count.keys %>'>
            <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
              <span class='glyphicon glyphicon-list' />
            <% end %>
          </span>
        </div>

        <div class='form-group'>
          <%= f.label :price_upper, t('views.payment.price').html_safe %><br>
          <%= f.text_field :price_upper, {:class => 'form-control price-form', :name => 'price_upper'} %>
          <%= t('views.search.form.between') %>
          <%= f.text_field :price_lower, {:class => 'form-control price-form', :name => 'price_lower'} %>
        </div>

        <div class='form-group'>
          <%= f.label :payment_type, t('views.payment.type').html_safe %>
          <% options = %w[ income expense ].map {|payment_type| [t("views.payment.#{payment_type}"), payment_type] }.to_h %>
          <%= f.select :payment_type, options, {:include_blank => true}, {:class => 'form-control payment-type-list', :name => 'payment_type'} %>
        </div>

        <%= f.submit t('views.search.button').html_safe, :id => 'search-button', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class='col-lg-8'>
    <div class='row'>
      <% from = @payments.total_count == 0 ? 0 : @payments.offset_value + 1 %>
      <% info = {:total_count => @payments.total_count, :from => from, :to => @payments.offset_value + @payments.size} %>
      <h4 style='margin-top: 30px; padding: 0px 10px' class='pull-left'><%= t('views.pagination.info', info) %></h4>
      <span style='margin-top: 20px; padding: 0px 10px' class='pull-right'>
        <button id='btn-new' class='btn btn-default btn-sm' title='登録' data-toggle='modal' data-target='#new-payment'>
          <span class='glyphicon glyphicon-plus'></span>
        </button>
      </span>
      <form style='margin-top: 20px; padding: 0px 10px' id='per_page_form' class='form-inline pull-right' onSubmit='return false;'>
        <label for='per_page'>表示件数</label>
        <input type='text' id='per_page' class='form-control' name='per_page' value='<%= @per_page %>' size='10'/>
      </form>
    </div>

    <span style='padding: 0px 10px' class='pull-left'>
      <%= paginate @payments %>
    </span>
    <table id='payment_table' class='table table-hover'>
      <thead>
        <tr>
          <% %w[ type date content categories price ].each do |attribute| %>
            <th><%= t("views.payment.#{attribute}").html_safe %></th>
          <% end %>
          <th style='border: none'></th>
        </tr>
      </thead>
      <tbody>
        <%= render @payments %>
      </tbody>
    </table>
  </div>
</div>

<div id='new-payment' class='modal fade'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h3 class='modal-title'>収支情報を入力してください</h3>
      </div>
      <div class='modal-body'>
        <%= form_for @payment, {:url => api_payments_path, :as => :payments, :remote => true} do |f| %>
          <div class='form-group'>
            <%= f.label :date, t('views.payment.date').html_safe %><br>
            <%= f.text_field :date, {:class => 'form-control date-form', :required => true} %>
          </div>
          <div class='form-group'>
            <%= f.label :content, t('views.payment.content').html_safe %>
            <%= f.text_field :content, {:class => 'form-control', :required => true, :size => 100} %>
          </div>
          <div class='form-group'>
            <%= f.label :categories, t('views.payment.categories').html_safe %><br>
            <%= f.text_field :categories, {:name => 'payments[category]', :value => '', :class => 'form-control category-form', :required => true, :style => 'display: inline; width:80%'} %>
            <span class='category-list' data-names='<%= Payment.joins(:categories).group('categories.name').order('count_all desc').count.keys %>'>
              <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>
          <div class='form-group'>
            <%= f.label :price, t('views.payment.price').html_safe %><br>
            <%= f.text_field :price, {:class => 'form-control price-form', :required => true} %>
          </div>
          <div class='form-group'>
            <label>種類</label>
            <% [[:income, {}], [:expense, {:checked => true}]].each do |payment_type, options| %><span class='input-custom'>
              <%= f.radio_button :payment_type, payment_type, options %>
              <%= f.label "payment_type_#{payment_type}", t("views.payment.#{payment_type}").html_safe %>
            </span>
            <% end %>
          </div>
          <div class='modal-footer'>
            <%= f.submit t('views.submit').html_safe, :class => 'btn btn-primary', :style => 'float:right; margin:5px' %>
            <button style='float:right;margin:5px' type='button' class='btn btn-default' data-dismiss='modal'>キャンセル</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
