 <div class='row center-block'>
  <div class='col-lg-4'>
    <ul class='nav nav-tabs'>
      <li class='active'><a href='#new-payment' data-toggle='tab'><%= t('views.register.tab_name') %></a></li>
      <li><a href='#search-form' data-toggle='tab'><%= t('views.search.tab_name') %></a></li>
      <li><a href='#new-dictionary' data-toggle='tab'><%= t('views.dictionary.create.tab_name') %></a></li>
    </ul>

    <div class='tab-content'>
      <div id='new-payment' class='well tab-pane active'>
        <h3><%= t('views.register.title') %></h3>
        <h4><span style='color: red'>* </span>は必須項目です</h4>
        <%= form_for @payment, url: api_payments_path, remote: true do |f| %>
          <div class='form-group'>
            <%= f.label :date, t('views.common.attribute.date').html_safe, class: 'required' %><br>
            <%= f.text_field :date, class: 'form-control date-form', name: 'date' %>
          </div>
          <div class='form-group'>
            <%= f.label :content, t('views.common.attribute.content').html_safe, class: 'required' %>
            <%= f.text_field :content, class: 'form-control', name: 'content', size: 100 %>
          </div>
          <div class='form-group'>
            <%= f.label :categories, t('views.common.attribute.category').html_safe, class: 'required' %><br />
            <% params = {value: nil, class: 'form-control category-form', name: 'categories'} %>
            <%= f.text_field :categories, params %>
            <span class='category-list' data-names='<%= category_names %>'>
              <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>
          <div class='form-group'>
            <%= f.label :tags, t('views.common.attribute.tag').html_safe %><br />
            <%= f.text_field :tags, class: 'form-control', name: 'tags', value: nil %>
          </div>
          <div class='form-group'>
            <%= f.label :price, t('views.common.attribute.price').html_safe, class: 'required' %><br>
            <%= f.text_field :price, class: 'form-control price-form', name: 'price' %>
          </div>
          <div class='form-group'>
            <%= f.label :payment_type, t('views.common.attribute.payment_type').html_safe %>
            <% [[:income, {}], [:expense, {:checked => true}]].each do |payment_type, options| %>
              <span class='input-custom'>
                <%= f.radio_button :payment_type, payment_type, options.merge(name: 'payment_type') %>
                <%= f.label "payment_type_#{payment_type}", t("views.common.payment_type.#{payment_type}").html_safe %>
              </span>
            <% end %>
          </div>
          <% params = {id: 'btn-create-payment', class: 'btn btn-primary btn-submit'} %>
          <%= f.submit t('views.register.submit').html_safe, params %>
        <% end %>
      </div>

      <div id='search-form' class='well tab-pane'>
        <h3><%= t('views.search.title') %></h3>
        <%= form_for @search_form, {:url => payments_path, :method => :get, :remote => true, :html => {:onClick => 'return false;'}} do |f| %>
          <div class='form-group'>
            <%= f.label :date_after, t('views.common.attribute.date').html_safe %><br>
            <%= f.text_field :date_after, {:class => 'form-control date-form', :name => 'date_after'} %>
            <%= t('views.search.between') %>
            <%= f.text_field :date_before, {:class => 'form-control date-form', :name => 'date_before'} %>
          </div>

          <div class='form-group'>
            <%= label_tag :content, t('views.common.attribute.content').html_safe %>
            <%= text_field_tag :content, '', :class => 'form-control', :value => @search_form.content_include || @search_form.content_equal %>
            <% options = {t('views.search.include') => 'include', t('views.search.equal') => 'equal'} %>
            <% selected_value = @search_form.content_equal ? 'equal' : 'include' %>
            <%= select_tag :content_type, options_for_select(options, selected_value), :class => 'form-control', :id => 'content-type' %>
          </div>

          <div class='form-group'>
            <%= f.label :category, t('views.common.attribute.category').html_safe %><br>
            <%= f.text_field :category, {:class => 'form-control category-form', :name => 'category'} %>
            <span class='category-list' data-names='<%= category_names %>'>
              <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>

          <div class='form-group'>
            <%= f.label :price_upper, t('views.common.attribute.price').html_safe %><br>
            <%= f.text_field :price_upper, {:class => 'form-control price-form', :name => 'price_upper'} %>
            <%= t('views.search.between') %>
            <%= f.text_field :price_lower, {:class => 'form-control price-form', :name => 'price_lower'} %>
          </div>

          <div class='form-group'>
            <%= f.label :payment_type, t('views.common.attribute.payment_type').html_safe %>
            <% options = %w[ income expense ].map {|payment_type| [t("views.common.payment_type.#{payment_type}"), payment_type] }.to_h %>
            <%= f.select :payment_type, options, {:include_blank => true}, {:class => 'form-control payment-type-list', :name => 'payment_type'} %>
          </div>

          <%= f.submit t('views.search.submit').html_safe, :id => 'search-button', :class => 'btn btn-primary btn-submit' %>
        <% end %>
      </div>

      <div id='new-dictionary' class='well tab-pane'>
        <h3><%= t('views.dictionary.create.title') %></h3>
        <%= form_for @dictionary, url: api_dictionaries_path, html: {onClick: 'return false;'} do |f| %>
          <div class='form-group'>
            <%= label_tag :phrase, t('views.dictionary.create.phrase').html_safe %>
            <%= text_field_tag :phrase, '', class: 'form-control' %>
            <% options = %w[include equal].map {|type| [t("views.dictionary.create.#{type}"), type] }.to_h %>
            <% params = {class: 'form-control', id: 'condition'} %>
            <%= select_tag :condition, options_for_select(options, 'include'), params %>
          </div>

          <div class='form-group'>
            <%= f.label :categories, t('views.common.attribute.category').html_safe %><br />
            <%= f.text_field :categories, class: 'form-control category-form', name: 'category', value: nil %>
            <span class='category-list' data-names='<%= Category.pluck(:name).sort %>'>
              <%= button_tag(type: 'button', class: 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>

          <% params = {id: 'btn-create-dictionary', class: 'btn btn-primary btn-submit'} %>
          <%= f.submit t('views.dictionary.create.submit').html_safe, params %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-lg-8'>
    <div>
      <% from = @payments.total_count == 0 ? 0 : @payments.offset_value + 1 %>
      <% info = {:total_count => @payments.total_count, :from => from, :to => @payments.offset_value + @payments.size} %>
      <h4 style='padding: 0px 10px;display: inline'><%= t('views.list.pagination.info', info) %></h4>
      <form style='padding: 0px 10px;display: inline' id='per_page_form' class='form-inline pull-right' onSubmit='return false;'>
        <label for='per_page'><%= t('views.list.pagination.label') %></label>
        <input type='text' id='per_page' class='form-control' name='per_page' value='<%= @per_page %>' size='10'/>
      </form>
    </div>
    <%= paginate @payments %>
    <table id='payment_table' class='table table-hover' style='max-width:300px'>
      <thead>
        <tr>
          <% %w[ payment_type date content category price ].each do |attribute| %>
            <th id='<%= "header_#{attribute}" %>'><%= t("views.common.attribute.#{attribute}").html_safe %></th>
          <% end %>
          <th style='border: none'></th>
        </tr>
      </thead>
      <tbody>
        <%= render @payments %>
      </tbody>
    </table>
  </div>
</div>
