<%= form_for @payment, {:as => :payments, :remote => true, :html => {:class => 'form-inline'}} do |f| %>
  <span id='date-form' class='input-custom'>
    <%= f.label :date, t('views.payment.date').html_safe + '：' %>
    <%= f.text_field :date, {:class => 'form-control datepicker', :required => true} %>
  </span>
  <span class='input-custom'>
    <%= f.label :content, t('views.payment.content').html_safe + '：' %>
    <%= f.text_field :content, {:class => 'form-control', :required => true, :size => 100} %>
  </span>
  <span class='input-custom'>
    <%= f.label :categories, t('views.payment.categories').html_safe + '：' %>
    <%= f.text_field :categories, {:name => 'payments[category]', :value => '', :class => 'form-control', :required => true} %>
    <span id='category-list' data-names='<%= Category.pluck(:name).uniq.sort %>'>
      <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
        <span class="glyphicon glyphicon-list" />
      <% end %>
    </span>
  </span>
  <span class='input-custom'>
    <%= f.label :price, t('views.payment.price').html_safe + '：' %>
    <%= f.text_field :price, {:class => 'form-control', :required => true} %>
  </span>
  <% [[:income, {}], [:expense, {:checked => true}]].each do |payment_type, options| %>
    <span class='input-custom'>
      <%= f.radio_button :payment_type, payment_type, options %>
      <%= f.label "payment_type_#{payment_type}", t("views.payment.#{payment_type}").html_safe %>
    </span>
  <% end %>
  <span class='input-custom'><%= f.submit t('views.submit').html_safe, :class => 'btn btn-primary' %></span>
  <span class='input-custom'><%= f.submit t('views.reset'), :type => 'reset', :class => 'btn btn-primary' %></span>
<% end %>

<hr>

<%= form_for @search_form, {:url => payments_path, :method => :get, :remote => true, :html => {:class => 'form-inline', :onClick => 'return false;'}} do |f| %>
  <span id='date-form' class='input-custom'>
    <%= f.label :date_after, t('views.payment.date').html_safe + '：' %>
    <%= f.text_field :date_after, {:class => 'form-control datepicker', :name => 'date_after'} %>
    <%= t('views.search.form.between') %>
    <%= f.text_field :date_before, {:class => 'form-control datepicker', :name => 'date_before'} %>
  </span>
  <span class='input-custom'>
    <%= label_tag :content, t('views.payment.content').html_safe + '：' %>
    <%= text_field_tag :content, '', :class => 'form-control', :value => @search_form.content_include || @search_form.content_equal %>
    <% options = {t('views.search.form.include') => 'include', t('views.search.form.equal') => 'equal'} %>
    <% selected_value = @search_form.content_equal ? 'equal' : 'include' %>
    <%= select_tag :content_type, options_for_select(options, selected_value), :class => 'form-control', :id => 'content_type' %>
  </span>
  <span class='input-custom'>
    <%= f.label :category, t('views.payment.categories').html_safe + '：' %>
    <%= f.text_field :category, {:class => 'form-control', :name => 'category'} %>
  </span>
  <span class='input-custom'>
    <%= f.label :price_upper, t('views.payment.price').html_safe + '：' %>
    <%= f.text_field :price_upper, {:class => 'form-control', :name => 'price_upper'} %>
    <%= t('views.search.form.between') %>
    <%= f.text_field :price_lower, {:class => 'form-control', :name => 'price_lower'} %>
  </span>
  <span class='input-custom'><%= f.submit t('views.search.button').html_safe, :id => 'search_button', :class => 'btn btn-primary' %></span>
<% end %>

<hr>

<div class='row row-center'>
  <div style='padding: 0px 10px'>
    <% from = @payments.total_count == 0 ? 0 : @payments.offset_value + 1 %>
    <% info = {:total_count => @payments.total_count, :from => from, :to => @payments.offset_value + @payments.size} %>
    <h4><%= t('views.pagination.info', info) %></h4>
  </div>
  <div style='padding: 0px 10px'>
    <%= paginate @payments %>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <% %w[ type date content categories price ].each do |attribute| %>
        <th><%= t("views.payment.#{attribute}").html_safe %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @payments %>
  </tbody>
</table>
