<%= render 'layouts/management' %>
<% i18n_path = 'views.management.payments' %>

<div class='row center-block'>
  <div class='col-lg-4'>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <%= link_to t("#{i18n_path}.form.tab.create"), '#new-payment', 'data-toggle' => 'tab' %>
      </li>
      <li>
        <%= link_to t("#{i18n_path}.form.tab.index"), '#search-form', 'data-toggle' => 'tab' %>
      </li>
    </ul>

    <div class='tab-content'>
      <div id='new-payment' class='well tab-pane active'>
        <h3>
          <%= t("#{i18n_path}.form.create.title") %>
        </h3>
        <h4>
          <span style='color: red'>* </span>は必須項目です
        </h4>
        <%= form_for @payment, url: api_payments_path, html: {id: 'form-payment-create'} do |f| %>
          <div class='form-group'>
            <%= f.label :date, t("#{i18n_path}.attribute.date"), class: 'required' %><br>
            <%= f.text_field :date, class: 'form-control date-form', name: 'date' %>
          </div>
          <div class='form-group'>
            <%= f.label :content, t("#{i18n_path}.attribute.content"), class: 'required' %>
            <%= f.text_field :content, class: 'form-control', name: 'content', size: 100 %>
          </div>
          <div class='form-group'>
            <%= f.label :categories, t("#{i18n_path}.attribute.categories"), class: 'required' %><br>
            <% params = {value: nil, class: 'form-control category-form', name: 'categories'} %>
            <%= f.text_field :categories, params %>
            <span class='category-list' data-names='<%= category_names.join(',') %>'>
              <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>
          <div class='form-group'>
            <%= f.label :tags, t("#{i18n_path}.attribute.tags") %><br>
            <%= f.text_field :tags, class: 'form-control', name: 'tags', value: nil %>
          </div>
          <div class='form-group'>
            <%= f.label :price, t("#{i18n_path}.attribute.price"), class: 'required' %><br>
            <%= f.text_field :price, class: 'form-control price-form', name: 'price' %>
          </div>
          <div class='form-group'>
            <%= f.label :payment_type, t("#{i18n_path}.attribute.payment_type") %>
            <% [[:income, {}], [:expense, {:checked => true}]].each do |payment_type, options| %>
              <span class='input-custom'>
                <%= f.radio_button :payment_type, payment_type, options.merge(name: 'payment_type') %>
                <% label_title = t("#{i18n_path}.form.create.payment_type.#{payment_type}") %>
                <%= f.label "payment_type_#{payment_type}", label_title %>
              </span>
            <% end %>
          </div>
          <% params = {id: 'btn-create-payment', class: 'btn btn-primary btn-submit'} %>
          <%= f.submit t("#{i18n_path}.form.create.submit"), params %>
        <% end %>
      </div>

      <div id='search-form' class='well tab-pane'>
        <h3>
          <%= t("#{i18n_path}.form.index.title") %>
        </h3>
        <%= form_for @search_form, {:url => payments_path, :method => :get, :remote => true, :html => {:onClick => 'return false;'}} do |f| %>
          <div class='form-group'>
            <%= f.label :date_after, t("#{i18n_path}.attribute.date") %><br>
            <%= f.text_field :date_after, {:class => 'form-control date-form', :name => 'date_after'} %>
            <%= t("#{i18n_path}.form.index.date.between") %>
            <%= f.text_field :date_before, {:class => 'form-control date-form', :name => 'date_before'} %>
          </div>

          <div class='form-group'>
            <%= label_tag :content, t("#{i18n_path}.attribute.content") %>
            <%= text_field_tag :content, '', :class => 'form-control', :value => @search_form.content_include || @search_form.content_equal %>
            <% options = {
                 t("#{i18n_path}.form.index.content.include") => 'include',
                 t("#{i18n_path}.form.index.content.equal") => 'equal',
               } %>
            <% selected_value = @search_form.content_equal ? 'equal' : 'include' %>
            <%= select_tag :content_type, options_for_select(options, selected_value), :class => 'form-control', :id => 'content-type' %>
          </div>

          <div class='form-group'>
            <%= f.label :category, t("#{i18n_path}.attribute.categories") %><br>
            <%= f.text_field :category, {:class => 'form-control category-form', :name => 'category'} %>
            <span class='category-list' data-names='<%= category_names %>'>
              <%= button_tag(:type => 'button', :class => 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>

          <div class='form-group'>
            <%= f.label :tag, t("#{i18n_path}.attribute.tags") %><br>
            <%= f.text_field :tag, readonly: true, class: 'form-control tag-form', name: 'tag' %>
            <span class='tag-list' data-names='<%= tag_names %>'>
              <%= button_tag(type: 'button', class: 'btn btn-default btn-sm') do %>
                <span class='glyphicon glyphicon-list' />
              <% end %>
            </span>
          </div>

          <div class='form-group'>
            <%= f.label :price_upper, t("#{i18n_path}.attribute.price") %><br>
            <%= f.text_field :price_upper, {:class => 'form-control price-form', :name => 'price_upper'} %>
            <%= t("#{i18n_path}.form.index.price.between") %>
            <%= f.text_field :price_lower, {:class => 'form-control price-form', :name => 'price_lower'} %>
          </div>

          <div class='form-group'>
            <%= f.label :payment_type, t("#{i18n_path}.attribute.payment_type") %>
            <% options = %w[income expense].map do |payment_type|
                 [t("#{i18n_path}.form.index.payment_type.#{payment_type}"), payment_type]
               end.to_h %>
            <%= f.select :payment_type, options, {:include_blank => true}, {:class => 'form-control payment-type-list', :name => 'payment_type'} %>
          </div>

          <% attribute = {id: 'btn-payment-search', class: 'btn btn-primary btn-submit'} %>
          <%= f.submit t("#{i18n_path}.form.index.submit"), attribute %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-lg-8'>
    <div>
      <span id='page-info'>
        <%= render partial: 'layouts/page_info', locals: {resources: @payments} %>
      </span>
      <button id='btn-assign-tag' class='btn btn-default pull-right' data-names='<%= tag_names %>'>
        <span class='glyphicon glyphicon-tag'>
      </button>
      <form style='padding: 0px 10px;display: inline' id='per_page_form' class='form-inline pull-right' onSubmit='return false;'>
        <label for='per_page'>
          <%= t('views.management.common.pagination.label') %>
        </label>
        <input type='text' id='per_page' class='form-control' name='per_page' value='<%= @search_form.per_page %>' size='10'>
      </form>
    </div>
    <span id='paginate'>
      <%= paginate @payments %>
    </span>
    <table id='payment_table' class='table table-hover' style='max-width:300px'>
      <thead>
        <tr>
          <th id='header_checkbox' style='border: none'>
            <input type='checkbox' id='checkbox-all'>
          </th>
          <% %w[payment_type date content categories tags price].each do |attribute| %>
            <th id='<%= "header_#{attribute}" %>'>
              <%= t("#{i18n_path}.attribute.#{attribute}") %>
            </th>
          <% end %>
          <th style='border: none'></th>
        </tr>
      </thead>
      <tbody>
        <%= render @payments %>
      </tbody>
    </table>
  </div>
</div>

<div class='modal fade' id='dialog-dictionary' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>
          &times;
        </button>
        <h4>
          以下の情報を辞書に登録しますか？
        </h4>
      </div>
      <div class='modal-body'>
        <div class='bootbox-body'>
          <div class='form-group'>
            <label for='phrase'>フレーズ</label>
            <input id='dialog-phrase' class='form-control'>
            <select id='dialog-condition' class='form-control'>
              <option value='include'>を含む</option>
              <option selected value='equal'>と一致する</option>
            </select>
          </div>
          <div class='form-group'>
            <label for='categories'>カテゴリ</label>
            <br>
            <input id='dialog-categories' class='form-control' disabled>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal'>キャンセル</button>
        <button id='btn-modal-submit' class='btn btn-primary'>登録</button>
      </div>
    </div>
  </div>
</div>
