<%= form_for @payment, {:as => :payments, :remote => true, :html => {:class => 'form-inline'}} do |f| %>
  <span class='input-custom' style='position: relative'>
    <%= f.label :date, t('views.payment.date').html_safe + '：' %><%= f.text_field :date, {:class => 'form-control datepicker', :required => true} %>
  </span>
  <span class='input-custom' style='position: relative'>
    <%= f.label :content, t('views.payment.content').html_safe + '：' %><%= f.text_field :content, {:class => 'form-control', :required => true, :size => 100} %>
  </span>
  <span class='input-custom' style='position: relative'>
    <%= f.label :categories, t('views.payment.categories').html_safe + '：' %><%= f.text_field :categories, {:name => 'payments[category]', :value => '', :class => 'form-control', :required => true} %>
  </span>
  <span class='input-custom' style='position: relative'>
    <%= f.label :price, t('views.payment.price').html_safe + '：' %><%= f.text_field :price, {:class => 'form-control', :required => true} %>
  </span>
  <% [[:income, {}], [:expense, {:checked => true}]].each do |payment_type, options| %>
    <span class='input-custom' style='position: relative'>
      <%= f.radio_button :payment_type, payment_type, options %><%= f.label "payment_type_#{payment_type}", t("views.payment.#{payment_type}").html_safe %>
    </span>
  <% end %>
  <span class='input-custom' style='position: relative'><%= f.submit t('views.submit').html_safe, :class => 'btn btn-primary' %></span>
  <span class='input-custom' style='position: relative'><%= f.submit t('views.reset'), :type => 'reset', :class => 'btn btn-primary' %></span>
<% end %>

<hr>

<div class='row row-center'>
  <div style='padding: 0px 10px'>
    <h4><%= @payments.total_count %>件中<%= @payments.offset_value + 1 %>〜<%= @payments.offset_value + @payments.size %>件を表示</h4>
  </div>
  <div style='padding: 0px 10px'>
    <%= paginate @payments %>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <% %w[ type date content categories price ].each do |attribute| %>
        <th><%= t("views.payment.#{attribute}").html_safe %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @payments %>
  </tbody>
</table>
