$("#append").after("\
<tr><td><%= @account.account_type == 'income' ? 'åå…¥' : 'æ”¯å‡º' %></td>\
<td><%= @account.date %></td>\
<td><%= @account.content %></td>\
<td><%= @account.category %></td>\
<td><%= @account.price %></td></tr>\
")
