<div id="accounts">
  <%= form_for @account, {:as => :accounts, :remote => true} do |f| %>
  日付：<%= f.text_field :date %>
  内容：<%= f.text_field :content %>
  カテゴリ：<%= f.text_field :category %>
  金額：<%= f.text_field :price %>
  <%= f.radio_button :account_type, 'income' %> 収入
  <%= f.radio_button :account_type, 'expense', {:checked => true} %> 支出
  <%= f.submit '登録' %>
  <%= f.hidden_field :from, :value => 'browser' %>
  <% end %>
  <hr>

  <%= paginate @all_accounts %>
  <table border="1" width="100%">
    <tr>
      <td>種類</td><td>日付</td><td>内容</td><td>カテゴリ</td><td>金額</td>
    </tr>
    <% @all_accounts.each do |account| %>
    <tr>
      <td><%= account.account_type == 'income' ? '収入' : '支出' %></td>
      <td><%= account.date %></td>
      <td><%= account.content %></td>
      <td><%= account.category %></td>
      <td><%= account.price %></td>
    </tr>
    <% end %>
  </table>
</div>
